<%= form_with(model: post, local: true, class: 'post--form') do |form| %>
  <% if post.errors.any? %>
    <div class='post--form-errors'>
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% unless post.parent.present? %>
    <div>
      <label>Title</label>
      <%= form.text_field :title, class: 'post--form-title' %>
    </div>
  <% else %>
    <%= form.hidden_field :parent_id %>
  <% end %>

  <div>
    <%= form.text_area :body, class: 'post--form-body' %>
  </div>

  <div class="post--form-actions">
    <% button_text = 'Edit Post' if post.persisted? %>
    <% button_text ||= post.parent_id.present? ? 'Post Reply' : 'Create Post' %>
    <%= form.button button_text, name: nil, class: 'post--form-submit' %>
  </div>
<% end %>
