<section class='post'>
  <div class='post--preview'>
    <%= link_to post do %>
      <h3 class='post--preview-title'><%= post.title %></h3>
    <% end %>
    <div class='post--preview-body'>
      <%= markdownify post.body %>
      <%= link_to '#', class: 'post--preview-more' do %>
        more<span class='far fa-angle-down'></span>
      <% end %>
    </div>
  </div>

  <div class='post--info'>
    <p class='post--info-creator'>
      Posted By <%= display_user post %>
      with <%= pluralize post.replies.count, 'Reply' %>
    </p>

    <% post.replies.last.tap do |last_reply| %>
      <% if last_reply %>
        <div class='post--info-last-reply'>
          Last Reply by <%= display_user(last_reply) %>
          <%= time_ago_in_words last_reply.created_at %> ago
        </div>
      <% end %>
    <% end %>
  </div>
</section>
