<!DOCTYPE html>
<html>
  <head>
    <title>Slabb - <%= controller_name.titleize %></title>
    <%= csrf_meta_tags %>

    <%# Automatically load packs for the current type %>
    <% if File.exists? Rails.root.join(*%W{ app frontend packs #{controller_name}.js }) %>
      <%= stylesheet_pack_tag controller_name %>
      <%= javascript_pack_tag controller_name %>
    <% else %>
      <%= stylesheet_pack_tag 'application' %>
      <%= javascript_pack_tag 'application' %>
    <% end %>

    <%= content_for :head %>
  </head>

  <body>
    <nav class='top-nav'>
      <div class='container'>
        <%= link_to 'SlaBB', root_path, class: 'top-nav--hero' %>

        <% if current_user %>
        <% else %>
          <%= link_to new_user_session_path, class: 'top-nav--login' do %>
            <span class='far fa-sign-in'></span>
            login
          <% end %>
        <% end %>
      </div>
    </nav>

    <%# TODO: better display for these %>
    <% if flash.present? %>
      <% flash.each do |key, value| %>
        <div class='<%= key %>'><%= value %></div>
      <% end %>
    <% end %>

    <main class='main-content container'>
      <%= yield %>
    </main>
  </body>
</html>
