<h2 class='header'>
  Posts

  <small class='header--right'>
    <%= link_to 'New Post', new_post_path, class: 'header--button' %>
  </small>
</h2>

<% page_info = page_entries_info @posts %>
<% pagination = will_paginate @posts %>

<nav class='pagination'>
  <span class='pagination--info'><%= page_info %></span>
  <span class='pagination--pages'><%= pagination %></span>
</nav>

<div class='posts'>
  <%= render @posts %>
</div>

<nav class='pagination'>
  <span class='pagination--info'><%= page_info %></span>
  <span class='pagination--pages'><%= pagination %></span>
</nav>
